 body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
}

a {
	color:red;
}

.bgimg {
	/*Background Image*/
	background: url(bggg.gif);
	/*Full-screen*/
	height:100vh;
	/*Center the background image*/
	background-position:center;
	/*Scale and zoom in the image*/
	background-size:cover;
	/*Add position: relative to enable absolutely positioned
	elements inside the image (place text)*/
	position:relative;
	/*Add a font*/
	font-family:futura;
	max-height:100vh;
	overflow:scroll;
}

/*tittle try*/
.wrapper {
	position:absolute;
	top:45%;
	left:50%;
	transform:translate(-50%,-50%);
	width:30%;
}

path {
	stroke:#fff;
	fill:#fff;
	stroke-dasharray:1800;
	opacity:10;
	animation: animate 3s cubic-bezier(0,0.23,1,.1);
}

@keyframes animate{
	0% {
		opacity:0;
		fill:none;
		stroke-dashoffset:1800;
	}

	30% {
		opacity:10;
		fill:none;
		stroke-dashoffset:1800;
	}

	90% {
		fill:rgba(255,255,255,0);
	}

	100% {
		opacity:10;
		fill:rgba(255,255,255,1);
		stroke-dashoffset:0;
	}
}


/*title*/
*{
	padding:0;
	margin:0;
	font-family:futura;
}

.container{
	text-align:center;
	top:50%;
	left:50%;
	width:100%;
}

.container span{
	text-transform:uppercase;
	display:block;
}

.text1{
	font-size:60px;
	font-weight:700;
	letter-spacing:8px;
	margin-bottom:20px;
	position:relative;
	color:white;
	animation:text 3s 1;
}

.text2{
	font-size:30px;
	color:#ff0000;
}

@keyframes text{
	0%{
		color:black;
		margin-bottom:-40px;
	}
	30%{
		letter-spacing:25px;
		margin-bottom:-40px;
	}
	85%{
		letter-spacing:8px;
		margin-bottom:-40px;
	}
}
/*title end*/

.header {
	color:white;
	padding:20px;
	text-align:center; 
	cursor:pointer;
}

.toggle {
	padding:20px;
	color:white;
	display:none;
	text-align:center; 
}

.toggle hover{
	color:red;
}

.verticle-line {
	position:relative;
	left:50%;
	width:5px;
	height:50px;
	background-color:white;
}
