body {
	font-family: prime;
	font-size: 32px;
}

a {
	color:red;
}

body, html {
	/*Set height to 100% for body and html to enable the background 
	image to cover the whole page*/
	height: 100%;
	/*set margin and padding to zero*/
	margin: 0;
	padding: 0;
}

.bgimg {
	/*Background Image*/
	background: url(background.jpg);
	/*Full-screen*/
	height:100%;
	/*Center the background image*/
	background-position:center;
	/*Scale and zoom in the image*/
	background-size:cover;
	/*Add position: relative to enable absolutely positioned
	elements inside the image (place text)*/
	position:relative;
	/*Add a white text color to all elements inside the .bgimg container*/
	color: #fff;
	/*Add a font*/
	font-family:futura;
}

/*Explore Butoon*/
.links a{
	text-decoration:none;
	color:white;
	display:block;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	cursor: pointer;
  	background-color: none;
  	border: 2px solid #FFFFFF; /* White */
  	border-radius: 15px;

}
.links a:hover {
	color:black;
}

/*Position text in the middle*/
.middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

/*Set font-size for h1 element*/
h1 {
	/*Set font-size for h1 element*/
	font-size: 40px;
	/*Add spacing between letters*/
	letter-spacing: 30px;
	/*Sets how thick or thin characters in text
	should be displayed*/
	font-weight: 100;
}

#demo {
	/*Sets how thick or thin characters in text should
	be displayed*/
	font-weight: lighter;
	/*Add spacing between words*/
	word-spacing: 30px;
}

hr {
	/*Set margin to auto align it center*/
	margin: auto;
	/*Set the width*/
	width: 100%;
	/*Add border around hr - "width type color"*/
	border: 1px solid #fff;
}


















